@charset "UTF-8";
body {
	text-align: center;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	background-color: #0a3b5c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #ffffff;
}
p {
	font-size: .8em;
	padding: 0 50px 0 0px;
	margin: .5em 0 1.4em 0;
	line-height: 1.6em;
}
h3 {
	font-size: 1.1em;
}
h4 {
	font-size: .8em;
	margin: .5em 0 .3em 0;
}

h5 {
	font-size: .8em;
	margin: .5em 0 .3em 0;
	font-weight:700;
}
a:link {
	color: #2d7fb3;
	
}
a:visited {
	color: #2d7fb3;
	text-decoration: none;
}
a:hover {
	color: #3492ce;
	text-decoration: underline;
}
a:active {
	color: #2d7fb3;
	text-decoration: none;
}
li {
	font-size: .8em;
	padding: 0 150px 0 0px;
	line-height: 1.6em;
}
.photoCredit {
	font-size: 10px;
	color: #fff;
}
.footer {
	padding: 10px 0;
	margin: 0;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}
/*.footer p {
	width:940px;
	color: #FFF;
}
#footerBlockLeft {
	padding: 0px 0 0 0px;
	float:left;
	width:400px;
}
*/
.vital-home-page p{
	font-size:14px;
	padding:20px 40px 20px 40px;
	line-height:1.8;
}
.vital-home-page .big-p{
	font-size:18px;
	line-height:2;
}
.vital-home-page a{
	color: rgba(108,188,242,1.00);
	}
	
#footerBlockRight {
	padding-top: 0px;
	float: right;
	width: 400px;
}
/* ~~ Miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}

.fltrtmap {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
	display: inline;
}
.fltlftmap { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
	width:600px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the .container) if the .footer is removed or taken out of the .container */
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}
.quote {
	width: 750px;
	font-style: italic;
	font-size: 1.1em;
	border-top: solid 1px #888;
	padding: 15px 0 0px 0;
}
#container {
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left;
	position: relative;
	top: 0px;
	width: 960px;
}
#headercontainer {
	height: 90px;
}
#vitallogo {
	width: 265px;
	height: 90px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#wheellink {
	width: 127px;
	position: absolute;
	top: 10px;
	left: 265px;
}
#atlaslink {
	width: 137px;
	position: absolute;
	top: 10px;
	left: 392px;
}
#reportlink {
	width: 101px;
	position: absolute;
	top: 10px;
	left: 529px;
}
#headerspacer {
	width: 90px;
	position: absolute;
	top: 0px;
	left: 625px;
}
#rightheadercontainer {
	width: 245px;
	position: absolute;
	top: 0px;
	left: 715px;
}
#vitaldropdown {
	width: 235px;
	height: 29px;
	padding: 12px 10px 0 0px;
	background-image: url(../img/vital_tab.jpg);
}
/*

#vitalheadercontainer {
	background-image:url(../img/16_estuary.jpg);
	height:240px;
	position: relative;
}

*/

#idHome #vitalheadercontainer {
	background-color: #555555;
	position: relative;
	text-align: center;
}
#idHome #vitalheadercontainer p {
	text-align:left;
	margin:0;
	padding:20px 40px 0px 40px;
}
#id01 #vitalheadercontainer {
	background-image: url(../img/1_onsite.jpg);
	height: 240px;
	position: relative;
}
#id02 #vitalheadercontainer {
	background-image: url(../img/2_swimming.jpg);
	height: 240px;
	position: relative;
}
#id03 #vitalheadercontainer {
	background-image: url(../img/3_shellfish.jpg);
	height: 240px;
	position: relative;
}
#id04 #vitalheadercontainer {
	background-image: url(../img/4_quality.jpg);
	height: 240px;
	position: relative;
}
#id05 #vitalheadercontainer {
	background-image: url(../img/5_social.jpg);
	height: 240px;
	position: relative;
}
#id06 #vitalheadercontainer {
	background-image: url(../img/6_recfish.jpg);
	height: 240px;
	position: relative;
}
#id07 #vitalheadercontainer {
	background-image: url(../img/7_comfish.jpg);
	height: 240px;
	position: relative;
}
#id08 #vitalheadercontainer {
	background-image: url(../img/8_salmon.jpg);
	height: 240px;
	position: relative;
}
#id09 #vitalheadercontainer {
	background-image: url(../img/9_orca.jpg);
	height: 240px;
	position: relative;
}
#id10 #vitalheadercontainer {
	background-image: url(../img/10_herring.jpg);
	height: 240px;
	position: relative;
}
#id11 #vitalheadercontainer {
	background-image: url(../img/11_bird.jpg);
	height: 240px;
	position: relative;
}
#id12 #vitalheadercontainer {
	background-image: url(../img/12_shorelinearmoring.jpg);
	height: 240px;
	position: relative;
}
#id13 #vitalheadercontainer {
	background-image: url(../img/13_eelgrass.jpg);
	height: 240px;
	position: relative;
}
#id14 #vitalheadercontainer {
	background-image: url(../img/14_landuse.jpg);
	height: 240px;
	position: relative;
}
#id15 #vitalheadercontainer {
	background-image: url(../img/15_floodplain.jpg);
	height: 240px;
	position: relative;
}
#id16 #vitalheadercontainer {
	background-image: url(../img/16_estuary.jpg);
	height: 240px;
	position: relative;
}
#id17 #vitalheadercontainer {
	background-image: url(../img/17_flows.jpg);
	height: 240px;
	position: relative;
}
#id18 #vitalheadercontainer {
	background-image: url(../img/18_marine.jpg);
	height: 240px;
	position: relative;
}
#id19 #vitalheadercontainer {
	background-image: url(../img/19_fresh.jpg);
	height: 240px;
	position: relative;
}
#id20 #vitalheadercontainer {
	background-image: url(../img/20_toxicsediments.jpg);
	height: 240px;
	position: relative;
}
#id21 #vitalheadercontainer {
	background-image: url(../img/21_toxicfish.jpg);
	height: 240px;
	position: relative;
}
#roundcornerstop {
	width: 960px;
}
#vitalheaderleftcontainer {
	width: 582px;
	background-color: #555555;
	position: relative;
	padding: 0 0 0 20px;
}
#vitaltitle {
	position: absolute;
	height: 40px;
	width: 562px;
	top: 0px;
	font-size: 28px;
	padding: 10px 0 0 20px;
	color: #fff;
}
#vitalquote {
	position: absolute;
	height: 80px;
	width: 542px;
	top: 50px;
	font-size: 18px;
	font-style: italic;
	line-height: 22px;
	padding: 20px 20px 0 20px;
	color: #fff;
}

#vitalquote-herring {
	position: absolute;
	height: 80px;
	width: 542px;
	top: 50px;
	font-size: 16px;
	font-style: italic;
	line-height: 19px;
	padding: 20px 20px 0 20px;
	color: #fff;
}

#vitalchampion {
	position: absolute;
	border-top: none;
	height: 50px;
	width: 562px;
	top: 150px;
	font-size: 13px;
	line-height: 20px;
	padding: 10px 0 0 20px;
	color: #fff;
}
#vitalbuttonscontainer {
	position: absolute;
	height: 55px;
	width: 582px;
	top: 210px;
}
#vitalbuttonscontainer a:link {
	color: #FFF;
	display: block;
}
#vitalbuttonscontainer a:visited {
	color: #FFF;
}
#vitalbuttonscontainer a:hover {
	color: #FFF;
}
#vitalbuttonscontainer a:active {
	color: #FFF;
}
#button1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 120px;
	height: 23px;
 //border-right-style:solid;
 //border-right-color: #7d9994;
 //border-right-width:1px;
	font-size: 12px;
	padding: 7px 0 0 0px;
	text-align: center;
	color: #FFF;
}
#button2 {
	position: absolute;
	top: 0px;
	left: 121px;
	width: 120px;
	height: 23px;
 //border-right-style:solid;
 //border-right-color: #7d9994;
 //border-right-width:1px;
	font-size: 12px;
	padding: 7px 0 0 0px;
	text-align: center;
	color: #FFF;
}
#button3 {
	position: absolute;
	top: 0px;
	left: 261px;
	width: 300px;
	height: 23px;
 //border-right-style:solid;
 //border-right-color: #7d9994;
 //border-right-width:1px;
	font-size: 12px;
	padding: 7px 0 0 0px;
	text-align: center;
	color: #FFF;
}
#vitalheaderrightphoto {
	position: absolute;
	top: -15px;
	left: 602px;
	width: 328px;
	height: 20px;
	padding: 20px 0 0 10px;
}
.underconstruction {
	font-size:13px;
	font-weight:bold;
	padding:10px 10px 10px 10px;
	background-color:#333;
}
.padding-top{
	margin-top:140px;
}

.greenBarHeader {
	background: #60AA3E;
	padding: 5px 5px 5px 5px;
	margin: 0px 0px 20px 0px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	
}

.pinkBarHeader {
	background: #DB2365;
	padding: 5px;
	margin: 0px 0px 20px 0px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	
}

.purpBarHeader {
	background: #8228BF;
	padding: 5px;
	margin: 0px 0px 20px 0px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	
}

.blueBarHeader {
	background: #54A4D2;
	padding: 5px;
	margin: 0px 0px 20px 0px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	
}

.aquaBarHeader {
	background: #01B499;
	padding: 5px;
	margin: 0px 0px 20px 0px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	
}

.orangeBarHeader {
	background: #e86e2f;
	padding: 5px;
	margin: 0px 0px 20px 0px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	
}

.orange{color: #e86e2f;}
.green{color: #60AA3E;}
.pink{color: #DB2365;}
.purp{color: #8228BF;}
.blue{color: #54A4D2;}
.aqua{color: #01B499;}
.white{color: #fff}

.orangeBackground{background-color: #e86e2f;}
.greenBackground{background-color: #60AA3E;}
.pinkBackground{background-color: #DB2365;}
.purpBackground{background-color: #8228BF;}
.blueBackground{background-color: #54A4D2;}
.aquaBackground{background-color: #01B499;}
.lightgreenBackground {background-color:#ceddc6;}	
.lightpurpBackground {background-color: #DAA3C8}	
	
	
	
#nav_indicator {
	width: 100%;
	float: left ;
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none; 
	background-color:#0a3b5c;
	//background-color: #2B2B2B;
	//border: 1px solid #ccc; }
	
	
	
#nav_indicator li {
		float: left ;
		padding: 0 !important;
		margin: 0 !important;
				margin-right: 2px;
		
	 }
	 
#nav_indicator li a {
		width: 150px;
		display: block;
		padding: 10px;

		text-decoration: none;
		font-weight: bold;
		color: #fff;
		border-right: 1px solid #000;
		background-color: #555;
		border-radius: 10px 10px 0px 0px;
	 }
	 
 #nav_indicator li a:hover {

	background-color: #444;
 }
	 
#nav_indicator .indicator_active_orange a{
	background-color: #e86e2f;	
}
#nav_indicator .indicator_active_green a{
	background-color: #60AA3E;	
}
#nav_indicator .indicator_active_pink a{
	background-color: #DB2365;	
}
#nav_indicator .indicator_active_purp a{
	background-color: #8228BF;	
}
#nav_indicator .indicator_active_blue a{
	background-color: #54A4D2;	
}
#nav_indicator .indicator_active_aqua a{
	background-color: #01B499;	
}



.vstable{
	font-size:.8em;
	border-collapse: collapse;
	}

.vstable table {
    border-collapse: collapse;
}

.vstable table, th, td {
    border: 1px solid black;
	padding:5px;
}

.vstable th{
	font-size:1em;
	//background-color: #60AA3E;
	}	
	