@charset "UTF-8";
body {
	text-align:center;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	background-color: #2b2b2b;
	font-family: Arial, Helvetica, sans-serif;
	font-size:1em;
	color:#ffffff;
}

p {
	font-size: .8em;
	padding: 0 150px 0 0px;
	line-height:1.6em;
}

h3 {
	font-size: 1.1em;
}

a:link { color:#FFF;}
/*
a:visited{}
a:hover{}
a:active{}
*/
#container {
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align:left;
	position: relative;
	top: 0px;
	width: 960px;
	

}
#headercontainer {
	
	height:90px;
	
}
#vitallogo {
	width: 245px;
	height: 90px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#wheellink {
	width: 225px;
	position: absolute;
	top: 0px;
	left: 245px;
}
#atlaslink {
	width: 245px;
	position: absolute;
	top: 0px;
	left: 470px;
}
#rightheadercontainer {
	width: 200px;
	position: absolute;
	top: 0px;
	left: 715px;
}	

#vitaldropdown {
	width: 233px;
	height: 29px;
	padding: 12px 0 0 12px;
	background-image:url(../img/vital_tab.jpg);
	
}
#vitalheadercontainer {
	background-color:#555555;
	height:240px;
	position: relative;
}
#roundcornerstop{
	width:960px;
}
#vitalheaderleftcontainer{
	width:582px;
	background-color:#F93;
	position: relative;
	padding: 0 0 0 20px;
}


#vitaltitle {
	position: absolute;
	background-color: #00b399;
	border-style:solid;
	border-color: #66d1c2;
	border-width:1px;
	height:38px;
	width:570px;
	top: 0px;
	font-size:28px;
	padding: 10px 0 0 10px;
	color: #fff;
}
#vitalquote {
	position: absolute;
	background-color: #26554d;
	border-style:solid;
	border-color: #7d9994;
	border-width:1px;
	border-top:none;
	height:89px;
	width:570px;
	top: 50px;
	font-size:18px;
	font-style:italic;
	line-height:24px;
	padding: 10px 0 0 10px;
	color: #7d9994;
	
	
	
}
#vitalchampion {
	position: absolute;
	background-color: #26554d;
	border-style:solid;
	border-color: #7d9994;
	border-width:1px;
	border-top:none;
	height:49px;
	width:570px;
	top: 150px;
	
	font-size:15px;

	line-height:20px;
	padding: 10px 0 0 10px;
	color: #7d9994;
	
	
}
#vitalbuttonscontainer {
	position: absolute;
	background-color: #26554d;
	border-style:solid;
	border-color: #7d9994;
	border-width:1px;
	border-top:none;
	height:29px;
	width:580px;
	top: 210px;
}
#vitalbuttonscontainer a {
	display:block;
}

#button1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width:193px;
	height:23px;
	border-right-style:solid;
	border-right-color: #7d9994;
	border-right-width:1px;
	font-size:12px;
	padding: 7px 0 0 0px;
	text-align:center;
	color: #FFF;
	
	}
#button2 {
	position: absolute;
	top: 0px;
	left: 194px;
	width:193px;
	height:23px;
	border-right-style:solid;
	border-right-color: #7d9994;
	border-right-width:1px;
	font-size:12px;
	padding: 7px 0 0 0px;
	text-align:center;
	color: #FFF;

}
#button3 {
	position: absolute;
	top: 0px;
	left: 388px;
	width:193px;
	height:23px;
	border-right-style:solid;
	border-right-color: #7d9994;
	border-right-width:1px;
	font-size:12px;
	padding: 7px 0 0 0px;
	text-align:center;
	color: #FFF;
}
#vitalheaderrightphoto {
	background-color:#393;
	position: absolute;
	top: 0px;
	left:602px;
	width:338px;
	width:290px;
}
